/* ==================
    global default
    ================ */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "inter", sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    background: #1C1C1C;
}


/* ==================
    Typography
    ================ */

h1 {
    margin: 0;
    font-family: "karla", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: -0.025em;
}

.subheading {
    margin-top: 0.625em;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.4;
    color: #D5D4D8;
}

.green {
    color: #55F991;
}


/* ==================
    Layout 
    ================ */

.container {
    width: 480px;
    background: #1F2937;
    margin: 64px auto;
    padding: 7.2em 3.25em;
    box-shadow: 0 0 5px #10B981;
}

.divider {
    margin-top: 2.2em;
    margin-bottom: 2.2em;
    border: 1px solid #2F3E53;
}

.pw-settings,
#pw-setting-length,
#pw-generator-btn,
.pw-area {
    border-radius: 6px;
}

.pw-settings {
    width: 100%;
    padding: 0.75em 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: 0 0 5px #D5D4D8;
}

.pw-setting-length {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pw-setting-length {
    width: 4rem;
    font-family: inherit;
    font-size: 1.1rem;
    padding: 0.25em 0 0.1em 0.5em;
}

#pw-generator-btn, 
.pw-container {
    width: 100%;
} 

#pw-generator-btn {
    margin-top: 3.2em;
    padding: 0.5em 1em;
    min-height: 3em;
    background: #10B981;
    line-height: 1.5;
    color: inherit;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
}

#pw-generator-btn:hover,
.copy-btn:hover,
.hide-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}


.pw-container {
    margin-top: 2.44em;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.pw-area {
    min-height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 0.5em 1em;
    line-height: 2;
    background: #273549;
}


/* =================
    utility
   ================= */

.mask {
    -webkit-text-security: disc !important;
}


/* =================
    Media queries 
   ================= */

@media (min-width: 650px) {

   
}